
<div class="center hero-unit">
  <h1>Welcome to EdWave</h1>

  <h2>
    This is the home page for 
    <a href="http://linkedin.com/">EdWave</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>



</div>

<div>
	
<h1>EDWAVE : Education --> Employment</h1>
<ol>
	<li>Enter profile</li>
	<li>Look at Knowledge Map</li>
	<li>Know where you are on the map</li>
	<li>Find the Hottest areas</li>
	<li>Find the right courses to get there</li>
	<li>Land a job</li>
	<li>Get outta this place!!</li>
</ol>

</div>
	<a href="/">Home</a>
	<a href="/help">Help</a>
	<a href="/about">About Us</a>
	<a href="/contact">Contact Us</a>

<%= link_to image_tag("rails.png", alt: "EdWave"), 'http://linkedin.com/' %>




