<footer class="footer">
  <small>
    <a href="http://linkedin.com">EdWave</a>
    by Bharadwaj and Karthik
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://linkedin.com/">News</a></li>
    </ul>
  </nav>
</footer>

